/**
 * Variables
*/

/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
$black: #000;
$white: #fff;
$light-gray: #f1f1f1;

$body-background-color: #333;
$foreground-color: #fff;
$caption-color: #464646;
$accent-color: #999;
$link-color: #ec1f4e;

$font-family: "Manrope", sans-serif;
$content-width-for-bigdesktop: 1840px;
$content-width-for-desktop: 1360px;
$content-width-for-tablet: 720px;
$content-width-for-mobile: 327px;
$container-width-for-desktop: 1920px;
$container-width-for-tablet: 1440px;
$container-width-for-small-tablet: 768px;
$container-width-for-mobile: 375px;
$primary: #1f4284;
$secondary: #727272;
$white: #fff;
$alice-blue: #ebf0fa;
$dark-blue: #244c98;
$brilliant-azure: #007bff
  /* Components */
